@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

</head>



<div style="display:flex; flex-direction:row; width: 100%;justify-content: center;align-items: center;">
    
    <div style=" padding:20px; position: relative;  display: flex;  justify-content: center; align-items: center; width:50%">

        <form method="post" style="  height: 100%;  width: 70%;">
            <label>Test execution name:</label>
            <input class="form-control" type="text" id="ExecutionName" name="ExecutionName" style="max-width: 800px;" required>
            <br>
            @foreach (var element in Model.jsFilesList)
            {
                <div class="list-group-item" style="max-width: 800px; border-radius: 10px;justify-content: center;align-items: center;">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@element" id=@element name=@element style="max-width: 800px; border-radius: 10px;">
                        <label class="form-check-label" for="@element">
                            @element
                        </label>
                        <a href="DeleteTest/e2e+@element" class="btn btn-danger" style="float:right;padding:3px">Delete</a>
                    </div>
                </div>
            }

            <button class="btn btn-success btn-sm" type="submit" style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);  font-size: 1.0em;padding: 10px 20px; " asp-page-handler="RunTest">
                Run Test
            </button>
            <br><br>
        </form>


    </div>

    @if (Model.Result != null)
    {
        <div style="flex:0.33; padding:20px; position: relative;">
            <div>Success: <span id="successValue">@Model.Result.Stats.Passes</span></div>
            <div>Fail: <span id="failValue">@Model.Result.Stats.Failures</span></div>
            <div>Pass Percentage: <span id="percentageValue">@Model.Result.Stats.PassPercent.ToString("0.00")</span>%</div>
       


            <div style="display: flex;">
                    <canvas id="myChart" width="400" height="400"></canvas>
            </div>
 </div>

    }

</div>

<div style="display:flex; flex-direction:row; width: 100%;justify-content: center;align-items: center;">
    <div style="flex:0.33; padding:20px; position: relative;">

        <form method="post">
            <select required name="Result" id="Result" style="position:absolute; top:10px;transform: translateX(-50%); left:50%; width:40%">
                @foreach (var element in Model.ResultList)
                {
                    <option value=@element>@element</option>
                }
            </select>
            <br>
            <button class="btn btn-success btn-sm" type="submit" asp-page-handler="Results" style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);">Show Result</button>
            <br>
        </form>

    </div>
</div>


@if (Model.Result != null){
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Pass', 'Fail'],
            datasets: [{
                label: '# of Votes',
                data: [@Model.Result.Stats.Passes, @Model.Result.Stats.Failures],
                backgroundColor: [
                        'rgba(0, 255, 0, 0.8)',
                        'rgba(255, 0, 0, 0.8)',
                ],
                borderColor: [
                    'rgba(0,0,0, 1)',
                    'rgba(0,0,0, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
           
        }
    });
</script>
}